.block {
    background-color: bisque;
    width: 300px;
    height: 30px;
}

.key {
    width: 30px;
    height: 30px;
    background-color: #8e8383;
    display: flex;
    align-items: center;
    justify-content: center;
}
.key:hover {
    background-color: #ad7575;
    transition: 0.3s;
    cursor: pointer;
}

.active {
    border-radius: 15px;
    transition: 0.2s;
}
.row {
    width: 600px;
    height: 40px;
    background-color: rgb(208, 215, 162);
    display: flex;
    align-items: center;
    justify-content: center;
}
.title {
    font: 400 20px Arial;
    color: darkgray;
}